<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div id="entries">
  <% @group.entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>

<%= link_to "back", user_groups_path %>
