<%= link_to "back", user_groups_path %>
<h1>Transactions</h1>

<div id="entries">
  <%= @group.entries.sum(:amount) %> <br>
  <% @group.entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>

<button>
  <%= link_to "New transaction", new_user_group_entry_path(@user, @group) %>
</button>


