<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <a href="<%= user_group_entries_path(group.user, group) %>">
      <%= render group %>
    </a>
  <% end %>
</div>

<%= link_to "New category", new_user_group_path %>
