<div class="splash-title">
    <h1>Fundsense</h1>
    <p>personal finance management in your hands</p>
</div>
<div>
    <%= link_to "Log In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
</div>
