<div class="std-page">
    <div class="splash-title">
        <h1 class="fancy-font">Fundsense</h1>
    </div>

    <div class="splash-btns-container">
        <%= link_to "LOG IN", new_user_session_path, class: "splash-login-btn" %>
        <%= link_to "SIGN UP", new_user_registration_path, class: "splash-signup-btn" %>
    </div>
</div>
